.row.wrapper {
    height: 100%;
    margin-bottom: 0px;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.section, .container {
    height: 100%;
}

#chat-box {
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

#input-form {

}

#messages {
    height: 400px;
    margin-bottom: 0;
    overflow: auto;
}

.message {
}

#input-message {
    font-size: 14px;
}
